.child {
    padding: 20px;
    width: 780px;
    background-color: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
}

.row {
    padding: 30px;
    width: 780px;
    background-color: white;
    border-radius: 5px;
    margin: 20px auto 0 auto;
}

i {
    font-size: 20px;
    font-weight: bold;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

tr {
    padding: 5px 0;
    margin: 0;
}

p {
    margin: 0;
}

hr {
    margin: 10px 0;
}

h2:hover {
    text-decoration: underline;
}

.pagination {
    width: 780px;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
}
